* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.css linguist-detectable=false
*.js linguist-detectable=true
*.php linguist-detectable=true
*.java linguist-detectable=false
CHANGELOG.md export-ignore
